<div class="container">
    <h1>Welcome to Snowtime!</h1>

     <ul>
      <li><a class="btn btn-default btn-lg sign-in" ui-sref="snowview">Search for Snow</a></li>
    </ul>

    <ul>
      <li ><a class="btn btn-default btn-lg sign-in" ui-sref="storedview">Stored searches</a></li>
    </ul>
   
</div>
