

  <h1>Snow Fall</h1>

  <div ng-switch="selectedGraph">
    <ul>
      <a ng-switch-when="graph1" class="btn btn-default btn-lg sign-in">Jackson Hole, Wyoming</a></li>
      <a ng-switch-when="graph2" class="btn btn-default btn-lg sign-in"></a></li>
      <a ng-switch-when="graph3" class="btn btn-default btn-lg sign-in"></a></li>
      <a ng-switch-when="graph4" class="btn btn-default btn-lg sign-in"></a></li>
    </ul>
  </div>

  <div ng-controller="snowViewCtrl">

  </div>
  
  <div ng-controller="snowViewCtrl" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

