<style>
  /*Makes the buttons background grey*/
  .grey {
    background-color: grey;
  }
  /*Makes the texts color black*/
  .black {
    color: black;
  }
</style>

<div class="container">
  <div class="row">
  <div class="col-sm-3 dashboard-navigation">
    <h1><big>Snowtime Navigation</big></h1>
    <ul class="nav nav-pills nav-stacked">
      <li><a class="grey black" ui-sref="snowview.snowview1">Jackson Hole</a></li>
      <li><a class="grey black" ui-sref="snowview.snowview2">Aspen</a></li>
      <li><a class="grey black" ui-sref="snowview.snowview3">Snowbird</a></li>
      <li><a class="grey black" ui-sref="snowview.snowview4">Alta</a></li>
      <li><a class="grey black" ui-sref="snowview.snowview5">Vail</a></li>
      <li><a class="grey black" ui-sref="snowview.snowview6">All</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="dashboard-view-container">
      <div class="dashboard-ui-view" ui-view></div>
    </div>
  </div>
  </div>
</div>